@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";

@layer base {
  button {
    cursor: pointer;
  }
}

@layer components {
  .ai-markdown {
    @apply prose;

    max-width: none;

    h1 {
      font-size: 1.375em;
      font-weight: 700;
    }

    h2 {
      font-size: 1.25em;
      margin: 1.75em 0 0.5em;
    }

    h3,
    h4,
    h5,
    h6 {
      font-size: 1em;
    }

    hr {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
}
