@theme {
  --color-sidebar-bg: #e9eef6;
  --color-sidebar-text: #1f1f1f;
  --color-sidebar-hover: #dde3ed;
  --color-sidebar-active: #d3e3fd;
  --color-sidebar-active-text: #0842a0;
  --color-main-bg: #f0f4f9;
}
